
# Dependencies
# Environment Variables
# Environment variables
# IDE
# Logs
# OS
# Production
*.backup
*.swo
*.swp
*~
.DS_Store
.env
.env.*.backup
.env.*.local
.env.backup*
.env.development.local
.env.example.backup
.env.local
.env.production.local
.env.test.local
.idea/
.next/
.vscode/
Thumbs.db
build/
dist/
node_modules/
npm-debug.log*
out/
package-lock.json
yarn-debug.log*
yarn.lock
.worktrees/
